#showOnClick{
    display: flex;
    flex-direction: column;
    align-items: center;
   }

.logo-image img{ 
    width: 200px;
    height: auto;
  
}
.navBarr{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    width: 100%;
    height: 50px;

}
.botoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.carteira{
    display: flex;
    padding: 10px;
    padding-right: 20px;
    align-items: center;
}
.carteira ion-icon{
    font-size: 22px;
    color: white;
    font-weight: bold;
}
.carteira h1{
    font-size: 15px;
    margin-left: 5px;
    color: white;
    font-weight: bold;
}
.usuario{
    padding: 10px;
    display: flex;
    padding-right: 20px;
    align-items: center;
}
.usuario ion-icon{
    font-size: 22px;
    color: white;
    font-weight: bold;
}
.usuario h1{
    font-size: 15px;
    margin-left: 5px;
    color: white;
    font-weight: bold;
}
.progresso-dinheiro{
    width: 300px;
    height: 50px;
}
.dinheiro{
    display: flex;
    justify-content: space-between;

}
.dinheiro h1{
    color: white;
}
.barra{
  
    width: 300px;
    height: 12px;
    border-radius: 10px;
    background-color: #CCCCCC;
}

.barra div{
  
    height: 100%;
    border-radius: 10px;
    background-color: #5EEB80;
}

.sacar button{
    text-decoration: none;
    background-color:#CCCCCC;
    border: none;
    width: 250px;
    height: 42px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
}
.sacar button:active{
    transform: scale(0.98);
}

/*First button*/
.slider{
    -webkit-appearance: none;
    height: 42px;
    background:rgb(214,214,214); 
    outline: none;
    opacity: 0.7;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 1px 5px 1px black;
    animation-fill-mode: both;
    animation-delay: 1s;
   
}
.slider::-webkit-slider-thumb{
   
    -webkit-appearance:none;
    appearance: none;
    width: 60px;
    height: 42px;
    background: #5EEB80;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
  
    box-shadow: -407px 0 0 400px #5EEB80;
  
  
}
.slider::-moz-range-thumb{
    width: 60px;
    height: 42px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}


.arrastar {
    margin-top: 150px;
    position: relative;
  /*   display: flex;*/
   display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  
}
.arrastar input{ 
    border: none;
    width: 250px;
    
}
#icon{
    position: absolute;
    bottom:35%;
    left:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}
#icon ion-icon{
    color: white;
}
.text{
    position: absolute;
    bottom:25%;
    left:42%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text h1{
    color: white;
    
}

 /*  Second button*/
 .switch{
    display: none;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #CCCCCC;
    width:250px ;
    height: 42px;
    border-radius: 8px;
}
#switch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
.switch input{
    display: none;
}
.switch .rail{
    position: relative;
    width: 200px;
    height: 30px;
    background-color: #5EEB80;
    border-radius: 10px;
}
.switch .rail .circle{
    display: block;
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    transition: tranform 0.4s;
}
.switch .indicator{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    margin-left: 15px;
    transition:  0.4s;
}
.switch .input:checked~ .rail .circle{
    transform: transLate(170px, -50%);
}
.switch .input:checked~ .indicator{
    background-color: #5EEB80;
}
.textoAtivar  h1{
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
  }

  .modal:target {
    opacity: 1;
    pointer-events: auto;
  }

  
  .modal > div {
    border-radius: 8px;
    width: 200px;
    height: 100px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -75px; 
    margin-left: -125px; 
    padding: 15px;
    background: #fff;
  }

  .fechar {
    position: absolute;
    width: 30px;
    right: 0;
    top: 0px;
    text-align: center;
    line-height: 30px;
    background: #ff4545;
    border-radius: 50%;
    font-size: 16px;
    color: wheat;

   
  }
  a{
    text-decoration:none ;
 }
 .modal-text {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .modal-text  h1{
   text-align: center;
 }
 /*Botao deslizante*/
.deslizante{
    position: relative;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 body {
	--l1: hsl(228,9.8%,100%);
	--l2: hsl(134, 30%, 100%);
	--l3: hsl(228,9.8%,63%);
	--p:  hsl(1.2,90.4%,44.9%); 
	--pT: hsl(120,90.4%,44.9%,0);

	height: 100vh;
}
form, input[type=range] {
	margin:auto;
    
}
form {
    
	border-radius: 8px;
   
 
}
#icon-deslizar{
    position: absolute;
    top: 35px;
    right: -25px;
    color: white;

}
input[type=range] {
	cursor: pointer;
	height: 38px;
	width: 250px;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
    background-color: var(--l2);
	border-radius: 0.75em;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
}

input[type=range]::-webkit-slider-thumb {
	border:0;
	background: linear-gradient(var(--p),
				var(--p)) 70% 50%/20% 5% no-repeat,
				linear-gradient(var(--l2),
				var(--l2)) 70% 50%/20% 15% no-repeat,
				radial-gradient(100% 100% at 50% 50%,
				var(--pT) 14%, var(--p) 15% 19%,
				var(--pT) 20%),
				var(--l2);
    font-size: 25px;
	border-radius: 50%;
	width: 1.5em;
	height: 1.5em;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
}
input[type=range]:focus {
	outline: transparent;
  
   
} 